html {
  color: white;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

body {
  background-color: black;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 30%;
  margin-bottom: 0%;
}

main {
  padding-top: 100px;
  padding-bottom: 200px;
}




/*Media Queries*/
@media only screen and (min-width: 320px) {

  #footer {
    position: absolute;
    background-color:#F2F2F2;
    color: #151515;
    width:100%;
  }
  
   .leftfooter{
    text-align:left;
    float:left;
    }
    
    .rightfooter{
    float:right;
    text-align:left;
  
    }
    .centeredfooter{
    text-align:center;
    }

}

@media only screen and (min-width: 480px) {
 /*Nav Styles*/

  nav {
    position: fixed;
    width: 100%;
     list-style-type: none;
     margin: 0;
     padding: 10;
     overflow: hidden;
     background-color: black;
   }
   
   li {
     float: left;
     list-style-type: none;
     text-decoration: none;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 20px 20px;
     list-style-type: none;
     text-decoration: none;
  
   }
   
   li a:hover {
     background-color: white;
     color: black;
   }
  
   a.active {
    background-color: gray;
   }

}

 /*Footer Styles*/


 #footer {
  position: absolute;
  background-color:#F2F2F2;
	color: #151515;
	width:100%;
}

 .leftfooter{
  text-align:left;
  float:left;
  }
  
  .rightfooter{
  float:right;
  text-align:left;

  }
  .centeredfooter{
  text-align:center;
  }

@media only screen and (min-width: 768px) {
 /*Nav Styles*/
  nav {
    position: fixed;
    width: 100%;
     list-style-type: none;
     margin: 0;
     padding: 10;
     overflow: hidden;
     background-color: black;
   }
   
   li {
     float: left;
     list-style-type: none;
     text-decoration: none;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 20px 20px;
     list-style-type: none;
     text-decoration: none;
  
   }
   
   li a:hover {
     background-color: white;
     color: black;
   }
  
   a.active {
    background-color: gray;
   }
  
}

 /*Footer Styles*/


 #footer {
  position: absolute;
  background-color:#F2F2F2;
	color: #151515;
	width:100%;
}

 .leftfooter{
  text-align:left;
  float:left;
  }
  
  .rightfooter{
  float:right;
  text-align:left;

  }
  .centeredfooter{
  text-align:center;
  }